<!-- 
<div>

<h1>Lo que es ANGULAR</h1>
<article>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quis omnis dolore eos. Corrupti officia, exercitationem perferendis illo, quisquam veniam iste magnam vitae quasi quod quo doloribus porro fuga eligendi.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore aliquam veniam, commodi illum iste magnam, excepturi blanditiis id explicabo possimus temporibus adipisci veritatis culpa rerum impedit vitae repellendus repudiandae saepe.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus facere quasi quae quidem quam quos repellat quisquam. Cumque, culpa aut quaerat ipsum magnam, nostrum nulla ipsa, accusamus ducimus ut repudiandae.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ut ad harum quae, voluptatibus libero assumenda nesciunt nihil vel nobis, aperiam corporis dicta dolore beatae laborum distinctio facere ab minima?</p>
</article>
@defer (on viewport) {<app-comments></app-comments>}
@placeholder { 
<p>Comentarios Futuros</p>

} @loading (minimum 1s) {

    <p>Cargando.....</p>
}
</div> -->
<nav>
    <ul>
        <li>
            <a routerLink="/Formulario-Ingreso">Formulario</a>
        </li>
      
    </ul>
</nav>
<!-- <app-user></app-user> -->

<router-outlet></router-outlet>


