<section>
<div class="flex flex-col justify-center items-center">

  <h1>Formulario de ingreso</h1>
  <form action=""> 
    <div>
      <label for="framework">
        
        <input 
        id="framework" 
        type="text" 
        [(ngModel)]="favoriteFramework"
        [ngModelOptions]="{standalone: true}"
        class="text-black"
        >
        
      </label>
      
    </div>
  </form>
  <button class= " mt-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" (click)="enviarDatos()" type="button">Enviar Informacion</button>

  {{favoriteFramework}} 
</div>
</section>

<section class="mt-7">
  
  <div class="flex flex-col justify-center items-center">
  <h1>Reactive Form</h1>

  <form [formGroup]="formFormulario" (ngSubmit)="handleFormSubmit()">

    <label >
      name
      <input class="text-black" type="text" formControlName="name" id="rectiveform">
    </label>

    <label >
      Email
      <input class="text-black" type="email" formControlName="email" id="rectiveform">
    </label>
    <button class= " mt-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" type="submit">Enviar</button>
  </form>
  <p>name: {{formFormulario.value.name}}</p>
  <p>email: {{formFormulario.value.email}}</p>

</div>
</section>